canvas{
	border-style: dotted;
	border-color: black;
	border-width: 2px;
	margin-top: 120px;
}

select{
	width: 100px;
	height: 20px;
}
div#picker{			/*Color picker containing the available tones*/
	position:fixed;
	bottom: 0;
	right: 0;
	width: 145px;
	height: 55px;
	border: solid black;
	padding: 2px;
	background-color: black;
}
div#chat{			/*The entirety of the chat box*/
	width: 250px;
	height: 500px;
	border: dotted black 2px;
	position: fixed;
	left: 15px;
	bottom: 15px;
	background-color: rgb(12, 12, 12, 0.7);
}
div#chatTitle{			/*The big text that says CHAT*/
	color: #000000;
	background-color: azure;
	border: outset gainsboro 3px;
	font-size: 20px;
	text-align: center;
	text-shadow: 1px 1px #000000;
}
input#textInput{		/*The user's input field*/
	overflow-wrap: break-word;
	word-break: keep-all;
	width: 200px;
	height: 25px;
	color: #FFFFFF;
	background-color: rgb(0, 0, 0, 0.9);
	font-weight: bold; 
}
div#messageBox{			/*The box containing the message history*/
	border: inset gainsboro 3px;
	height: 435px;
	color: #FFFFFF;
	overflow: auto;	
	display: flex;
	flex-direction: column-reverse;		/*Necessary for the scroll bar to be at the bottom by default*/
}
div#messageBox p {		/*The text within the message box*/
	overflow-wrap: break-word;
	display: flex;
}
input[type=button]#messageSend{			/*The green sending button*/
	width: 25px;
	height: 25px;
	background-color: #00DD00;
}
button.colourchoice{			/*The colour pallet buttons*/
	width: 25px;
	height: 25px;
	padding: 1px;
}
#adminPanel{
	position: fixed;
	width: 250px;
	height: 85px;
	right: 0;
	top: 135px;
	display: box;
	background-color: azure;
	border: outset;
}
#username{
	font-size: 16px;
	width: 245px;
}
#newdata{
	font-size: 16px;
	width: 245px;
}
#banButton{
	width: 32%;
	height: 35px;
	font-size: 16px;
}
#modifyButton{
	width: 32%;
	height: 35px;
	font-size: 19px;
}
#dialogButton{
	width: 32%;
	height: 35px;
	font-size: 16px;
}
#adminDialogContainer{
	width: 100%;
	height: 100%;
	background-color:rgb(0, 0, 0, 0.7);
	display: box;
	position: fixed;
	left: 0;
	top: 0;
}
#adminDialogBox{
	width: 50%;
	height: 75%;
	background-color: #000000;
	color: #fff;
	display: box;
	position: fixed;
	left: 25%;
	top: 10%;
	border: inset;
}
#adminMsgList{
	background-color: #004700;
	width: 25%;
	position: fixed;
	left: 28%;
	top: 18%;
	height: 55%;
	border: inset;
}
#msgTools{
	position: fixed;
	right: 28%;
	top: 18%;
	width: 15%;
	height: 55%;
}
#msgTimestamp{
	width: 97%;
	height: 30px;
}
#msgTools button{
	border-radius: 50%;
	width: 220px;
	height: 220px;
	background-color: #AA0000;
	border: outset #FF0000 10px;
	font-size: 55px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#msgTools button:active{
	border: inset #FF0000 10px;
}