#container{
	margin-top: 190px;
	color: #4e54c8;
}
hr{
	width: 50%;
}
input{
        display: block;
        width: 300px;
        height: 25px;
        border-radius: 12px;
        padding-left: 10px;
        border: solid #4e54c8 3px;
	}
#description{
	width: 700px;
	height: 100px;
	overflow-y: auto;
	overflow-wrap: anywhere;
}
button{
        width: 150px;
        height: 30px;
        font-weight: bold;
        background-image: linear-gradient(to right, #4e54c8, #8f94fb);
        color: #FFF;
        border-radius: 12px;
        border: solid #4e54c8 3px;
}
button:active{
        border: solid #000 3px;
        border-right: 1px;
        border-bottom: 1px;
}
#form{
	margin-left: 35%;
}
